        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            <p> title : <%=title%></p>
            <p>username:<%=user.name%></p>
            <p>username:<%=user.password%></p>
        </h1>
        <script>
            console.log(user);
        </script>
