        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
        </h1>
<!-- here the users data is fetched from locals  -->

        <p><%= user.name %></p>
        <p><%= user.email %></p>
