<html>
    <head>
        <title>
            home
        </title>
        <link rel="stylesheet" href="/css/style.css">
        <%- style %>
    </head>
    <body>
        <header>
            <%- include('header'); %>
        </header>
        
          <%- body; %>
        
       

        
    </body>
</html>