<html>
  <head>

    <title>
        Quora
    </title>

  </head>

  <body>
    <header>
       <%- include('header'); -%>
    </header>

    
      <%- body;%>
    
    
  
    
  
  </body>
</html>

